

*{
  box-sizing: border-box;

}
html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    
  }
  /* responsev and media Qurey */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small */
@media (min-width:768px) {
  .container {
      width: 750px;
  }
}

/* medium  */
@media (min-width:992px) {
  .container {
      width: 970px;
  }
}

/* large */
@media (min-width:1200px) {
  .container {
      width: 1170px;
  }
}
/* label  */


/* start header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .logo {

  width: 350px;
  margin-top: 50px;
  position: absolute;
  right: 15px;
}
.header .container .links a{
  width: 40px;
  font-size: 30px;
  margin-left:10px ;
  color:#03e9f4 ;

}

.labell{
  position: relative;
  display: flex;
  flex-basis: 300px;
  height: 200px;

}
.labell .container {
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}
 .container .label{
  font-size: 40px;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  color: white;
  font-family: 'Amiri', serif;
  margin-bottom: 50px;



}

@media (max-width:767px)
{
  .container .label{
    width: 200px;
    font-size: 20px;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    color: white;
    font-family: 'Amiri', serif;
    bottom:1px ;
  
  
  
  }
  .header .logo {

    width: 200px;
    margin-top: 50px;
    position: absolute;
    right: 15px;
  }
  .header .container .links a{
    font-size: 20px;
    margin-left:10px ;
    color:#03e9f4 ;

  }

}

  
  .login-box {
    margin-top: 30px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

@media (max-width:767px) {
 
  .login{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

  }
  .login-box{
    width: 340px;
  }

}
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Foldit', cursive;
    font-family: 'Work Sans', sans-serif;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;

  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .login-box .user-box input:focus + label,
  .login-box .user-box input:valid + label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    flex-basis: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    padding: 10px 10px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
  width: 200px;
    transform: translate(-50%);
    left: 50%;
  }
.login-box form a #submit {
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;

  letter-spacing:2px;
}
  
  .login-box form a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
  
  .login-box form a span {
    position: absolute;
    display: block;
  }

  .links  {
    position: relative;
    display: flex;
    flex-direction: column;

    flex-basis: 20px;
    justify-content: center;
    align-items: center;
  }

.links #fpass {
  color: #03e9f4;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 60px;
  letter-spacing: 1px;
}

.links #not-reg {
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 60px;
  letter-spacing: 1px;
}
.links p a#signup {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 60px;
  letter-spacing: 1px;
  background-color: transparent !important;
}
.links p a #sign-up{
  background-color: transparent !important;
  margin-left: 10px;
  color: #03e9f4;
}
.errorofuser{
  color: white;
}


  .login-box form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
    -webkit-animation: btn-anim1 1s linear infinite;
}
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }

  span#error{
    font-size: 2px;

    }