*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(226, 226, 226);
}

.container{
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
    background-color: rgb(226, 226, 226);
}

.side-bar{
    background: linear-gradient(#141e30, #243b55);
    color: white;
    position: relative;
}


.side-bar img{
    width: 170px;
    padding: 10px 0;
    text-align: center;
}

.side-bar ul{
    text-decoration: none;
    color: rgb(177, 177, 177);
    margin-top: 30px;
    padding: 10px;
}

.side-bar ul li{
    list-style: none;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
}

.side-bar ul li:hover{
    cursor: pointer;

    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.side-bar p{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 30px;
    left: 50%;
    transform: translate(-50%,0);
}

.work-place{
    margin: 20px;
    border-radius: 5px;
}